<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida1.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida5.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida9.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida13.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida17.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida21.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida25.jpg">
    </div>
    <div class="col-lg-3 col-md-6">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida2.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida6.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida10.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida14.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida18.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida22.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida26.jpg">
    </div>
    <div class="col-lg-3 col-md-6">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida3.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida7.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida11.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida15.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida19.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida23.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida27.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida15.jpg">
    </div>
    <div class="col-lg-3 col-md-6">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida4.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida8.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida12.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida16.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida20.jpg">
      <img class="d-block w-100" src="/assets/images/gallery/aguaflorida24.jpg">
    </div>
  </div>
</div>