<div id="topnav" class="topnav prim-color">
  <a routerLink="/" class="float-left brand logo-font">
    <img src="/assets/images/AguaFloridaEmpty.png">
    Agua Florida
  </a>
  <a routerLink="/contactanos" class="main-font">Contactanos</a>
  <a routerLink="/galeria" class="main-font">Galeria</a>
  <a routerLink="/calendario" class="main-font">Calendario</a>
  <a routerLink="/eventos" class="main-font">Eventos</a>
  <a href="javascript:void(0);" class="icon" (click)="responsiveNavBar()">&#9776;</a>

</div>
<router-outlet (deactivate)="onDeactivate()"></router-outlet>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a routerLink="/contactanos" class="main-font d-block">Contactanos</a>
        <a routerLink="/galeria" class="main-font d-block">Galeria</a>
        <a routerLink="/calendario" class="main-font d-block">Calendario</a>
        <a routerLink="/eventos" class="main-font d-block">Eventos</a>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <a routerLink="" class="float-md-right brand logo-font">
          <img src="/assets/images/AguaFloridaEmpty.png" class="footer-af-icon">
          Agua Florida
        </a><br><br>
        <p class="float-md-right">(403) 619-8071</p><br class="d-none d-md-block">
        <p class="float-md-right">maria.isabel@aguaflorida.com</p>
      </div>
    </div>
    <div class="row pt-4">
      <p class="text-center"><i class="material-icons">copyright</i>Website by EC Web Dev </p>
    </div>
  </div>
</div>

<!-- Event Modals-->
<!-- Modal -->
<div *ngFor="let event of events">
  <div class="modal fade" [id]="'event' + event.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content container">
        <div class="modal-header">
          <h3 class="modal-title secondary-font text-left" id="exampleModalLabel"> {{event.title}} </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-5"> {{ event.descriptionFull }} </p>
          <div id="date-time-place">
            <p> Fecha / </p>
            <h4> {{ event.getDateString() }}</h4>
            <p> Hora / </p>
            <h4> {{ event.time }} </h4>
            <p> Lugar / </p>
            <h4> {{ event.place }} </h4>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>