<div class="container">
  <div class="row mt-5">
    <h1 class="secondary-font"> Contactanos </h1>
    <hr class="title-separator">
    <p class="secondary-font text-center"> Contactanos para averiguar mas sobre eventos o hacer cualquier pregunta. </p>
  </div>
  <div class="row my-5 contact-area">
    <div class="col-md-8 form">
      <h4 class="secondary-font">Envia un mensaje!</h4>
      <form action="/" method="post">
        <input type="text" placeholder="nombre" name="name">
        <input type="text" placeholder="email" name="email">
        <textarea placeholder="mensaje" name="message"></textarea>
        <input class="btn submit-btn" type="submit">
      </form>
    </div>
    <div class="col-md-4 contact-info">
      <img src="/assets/images/aguafloridaLogoCircle.png" class="logo-img">
      <p>Tambien puedes contactarnos por email o telefono:</p>
      <h5 class="secondary-font">maria.cuello@aguaflorida.org</h5>
      <h5 class="secondary-font">(403) 619 8071</h5>
    </div>
  </div>
</div>