<div class="img-holder">
  <img src="/assets/images/aguafloridaSegunda.jpg" class="w-100 headerbg-img">
  <img src="/assets/images/aguafloridaLogoCircle.png" class="logo-img centered">
</div>

<div class="py-5">
  <div class="container">
    <h1 class="pb-4"> Quienes Somos </h1>
    <p> Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. </p>
    <p> Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. </p>
    <div class="carousel slide py-4" data-ride="carousel" data-pause="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/assets/images/aguafloridaPrimera.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/images/aguaflorida2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/images/aguaflorida4.jpg" alt="Third slide">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="light-grey-bg py-5">
  <div class="container">
    <h1 class="pb-4"> Nuestra Mision </h1>
    <p> Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. </p>
    <p> Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. Somos una organizacion dedicada a proveer entretenimiento y educacion a personas latinas mayores de 60 anos. </p>
  </div>  
</div>
<div class="py-5">
  <div class="container">
    <h1 class="pb-4"> Metas para el Futuro </h1>
    <div class="row">
      <div class="col-md-4">
        <h3> Meta 1 </h3>
      </div>
      <div class="col-md-4">
        <h3> Meta 2 </h3>
      </div>
      <div class="col-md-4">
        <h3> Meta 3 </h3>
      </div>
    </div>
  </div>  
</div>