<div class="img-holder">
  <img src="/assets/images/aguafloridaLogoCircle.png" class="logo-img centered">
  <a (click)="scroll('#mission')"><i class="material-icons">keyboard_arrow_down</i></a>
</div>

<div id="mission" class="container py-5">
  <div class="row">
    <h1 class="secondary-font"> Nuestra Mision </h1>
    <hr class="title-separator">
  </div>
  <div class="row">
    <div class="col-md-8 py-4">
      <div class="carousel slide" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/images/gallery/aguaflorida2.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/assets/images/gallery/aguaflorida1.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/assets/images/gallery/aguaflorida4.jpg" alt="Third slide">
          </div>
        </div>
      </div>
      <a routerLink="/galeria" class="secondary-font mas-fotos text-center"> <i class="material-icons">photo_library</i> Mas Fotos </a>
    </div>
    <div class="col-md-4 py-4">
      <p class="text-justify"> Nuestro objetivo es crear Agua Florida como una organización sin fines de lucro la cual tiene por meta integrar a los seniors hispanos en Calgary.</p>
      <p class="text-justify">Queremos empezar haciendo encuentros sociales, talleres, y programas semanales. Nuestro objetivo final es recaudar suficientes fondos para que eventualmente los seniors hispanos en Calgary cuenten con un lugar donde puedan asistir diariamente a actividades que los mantengan activos y saludables.</p>
    </div>
  </div>
</div>
<div class="media-bar">
  <h4 class="secondary-font text-center">Siguenos en Facebook<a href="https://www.facebook.com/AguaFloridaLtd/" target="_blank"><i class="fa fa-facebook-square" style="font-size:36px"></i></a></h4>
</div>
<div class="py-5">
  <div class="container">
    <h1 class="secondary-font"> Vision </h1>
    <hr class="title-separator">
    <div class="row pt-4">
      <div class="col-md-6">
        <p class="text-justify"> Entendemos que la comunidad de seniors hispanos en Calgary esta en crecimiento y que no hay suficientes programas o servicios para incluirlos. Es por eso que hemos decidido crear esta organización para ayudarlos a sentirse en casa, rodeados de nuevas amistades, y que cuenten con la disponibilidad de diversas actividades en las cuales ellos puedan participar.</p>
      </div>
      <div class="col-md-6">
        <p class="text-justify">Para lograr nuestros objetivos necesitamos contar con el apoyo del resto de la comunidad hispana en Calgary, para que nos ayuden ofreciendo talleres o clases, asistiendo a organizar eventos y colaborando con esta causa. Calgary tiene muchas cosas buenas que ofrecer y debemos sacarle provecho para que todos podamos disfrutarla.</p>
      </div>
      <div class="subheading">
        <h2 class="pt-4 secondary-font"> ¿Que significa Agua Florida? - </h2>
        <h2 class="pt-4 secondary-font text-color-pink"> ¡La eterna fuente de la juventud! </h2>
      </div>
    </div>
  </div>  
</div>