.event-card{
	margin: 20px;
	height: auto;
	box-shadow: 8px 8px 10px grey;
	background-size: cover;
}

h3{
	font-family: 'Oswald', sans-serif;
	background-color: #D98FB2;
	color: white;
}

p{
	display: inline;
}

button{
	display: inline-block;
	padding: 5px 10px;
	background-color: #CB0060;
	color: white;
	font-family: 'Oswald', sans-serif;
	margin: 0 3px;
	font-size: 20px;
}

.buttons{
	display: block;
	width: 246px;
	margin: 0 auto;
}

.domino-bg{
	background-image: url('/assets/images/domino.jpg');
}