<div class="container">
  
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="event-card domino-bg">
        <h3 class="p-3">Partida de Domino</h3>
        <div class="p-2">
          <p> Juega domino con otro par de viejitos. Juega domino con otro par de viejitos. Juega domino con otro par de viejitos.</p><br><br>
          <p> Fecha / </p>
          <h4> Mayo 18, 2018 </h4>
          <p> Lugar / </p>
          <h4> 500 Tuscany Terrace NW </h4><br>
          <div class="buttons">
            <button class="btn"> Detalles </button>
            <button class="btn"> Ver en calendario </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="event-card domino-bg">
        <h3 class="p-3">Partida de Domino</h3>
        <div class="p-2">
          <p> Juega domino con otro par de viejitos. </p><br><br><br>
          <p> Fecha / </p>
          <h4> Mayo 18, 2018 </h4>
          <p> Lugar / </p>
          <h4> 500 Tuscany Terrace NW </h4><br>
          <div class="buttons">
            <button class="btn"> Detalles </button>
            <button class="btn"> Ver en calendario </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>