.event-card{
	margin: 20px;
	height: 460px;
	box-shadow: 8px 8px 10px grey;
	background-size: cover;
	position: relative;
}

h3{
	font-family: 'Oswald', sans-serif;
	background-color: #D98FB2;
	color: white;
}

p{
	display: inline;
}

button{
	display: inline-block;
	padding: 5px 10px;
	background-color: #CB0060;
	color: white;
	font-family: 'Oswald', sans-serif;
	margin: 0 3px;
	font-size: 20px;
}

.buttons{
	position: absolute;
	display: block;
	width: 246px;
	margin: 0 auto;
	transform: translateX(-50%);
	bottom: 10px;
	left: 50%;
}

#date-place{
	bottom: 40px;
	position: absolute;
}