<div class="container-fluid">
  <div class="row mt-5">
    <h1 class="secondary-font"> Eventos </h1>
    <hr class="title-separator">
    <p class="secondary-font text-center"> Chequea los proximos eventos de nuestra organizacion.</p>
  </div>
  <div class="row">
    <div class="col-lg-4" *ngFor="let event of events">
      <div class="event-card" [ngStyle]="{'background-image':'url(' + event.imgUrl + ')'}">
        <h3 class="p-3">{{ event.title }}</h3>
        <div class="p-2">
          <p> {{ event.descriptionShort }}</p><br><br>
          <div id="date-place">
            <p> Fecha / </p>
            <h4> {{ event.getDateString() }}</h4>
            <p> Lugar / </p>
            <h4> {{ event.place }} </h4><br>
          </div>
          <div class="buttons">
            <button class="btn" data-toggle="modal" [attr.data-target]="'#event' + event.id"> Detalles </button>
            <button class="btn"> Ver el calendario </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>